<section>

  <div class="container">

    <div class="row">
      <div class="col-4 mt-4 offset-3">

        <div class="row d-flex justify-content-center">
          <div class="col-4 ">
            <h3>SIGNUP</h3>
          </div>
        </div>

        <form action="/signup" method ="post" class="p-3">

          <label for="">FIRST NAME</label>
          <input type="text" name="fname" class="form-control mt-2 mb-2" />

          <label for="">LAST NAME</label>
          <input type="text" name="lname" class="form-control mt-2 mb-2" />
            
          <label for="">EMAIL</label>
          <input type="email" name="email" class="form-control mt-2 mb-2" />

          <label for="">Password</label>
          <input
            type="password"
            name="Password"
            class="form-control mt-2 mb-2"
          />

          <div class="row mt-4">
            <div class="col-6">
              <span><a href="/login" style="text-decoration: none;">Already have an account?</a></span>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">SIGNUP</button>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
</section>