<section>

  <div class="container">

    <div class="row">

      <div class="col-4 offset-4">

        <h1>CONGRATULATIONS !</h1>

        <p>Your order is placed</p>

        <a href="/orders" class="btn btn-success">go to order</a>
      </div>
    </div>
  </div>

</section>